<div class="ahs-list-overview">
    <div class=" mdl-color-text--blue-grey-400">
        <h3><i class=" material-icons f-left m-r-5">dvr</i> Overzicht</h3>
        <p>@ViewBag.Description</p>
        <ul class="ahs-list-overview__list">
            <li><a asp-controller="Categorie" asp-action="Index"><i class="material-icons">list</i>Lijst van categorieën</a></li>
            <li><a asp-controller="Categorie" asp-action="Create"><i class="material-icons">add</i>Maak een nieuwe categorie</a></li>
        </ul>
    </div>
</div>