<ion-header>
    <ion-navbar>
      <ion-title>
        REVIEW
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div *ngFor="let review of review">
      <p>Auteur: {{review.user.firstName}} {{review.user.lastName}}</p>
      <p>Geplaatst op: {{review.createdAt|date: 'dd/MM/yyyy H:mm'}}</p>
      <h3>{{review.titel}}</h3>
      <p>{{review.inhoud}}</p>
      <p>{{review.beoordeling}} sterren op 5</p>
    </div>
    <div *ngIf="usersId === reviewId">
      <button ion-button color="secondary" outline block (click)="edit(review.id)">Bewerk</button>
      <button ion-button color="danger" outline block (click)="confirm(review.id)">Delete</button>
    </div>
<div class="bottom_margin"></div>
</ion-content>
