<ion-content padding>
  <h2>Word verhuurder</h2>
  <div>
  <ion-list>
    <ion-item>
    <ion-icon name="person" item-right></ion-icon>
    <ion-input type="text" placeholder="Voornaam"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="person" item-right></ion-icon>
    <ion-input type="text" placeholder="Familienaam"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" item-right></ion-icon>
    <ion-input type="text" placeholder="E-mailadres"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock" item-right></ion-icon>
    <ion-input type="password" placeholder="Wachtwoord"></ion-input>
  </ion-item>

</ion-list>
</div>
<div padding>
  <button ion-button block>Registreren</button>
</div>
<div class="bottom_margin"></div>
</ion-content>
