<ion-header>
    <ion-navbar>
      <button color="secondary" ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <img height="40" src="../../../assets/img/logo.png" />
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <img id="main_img" src="../../assets/img/home.jpg" />
        
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let stad of steden">
      <div (click)="accomoByCity(stad)">
        {{ stad }}
      </div>
    </ion-item>
  </ion-list>

<div class="card-background-page" *ngFor="let accomodatie of accomodaties; let i=index">
  <ion-card *ngIf="i<3" (click)="accomoByCity(accomodatie.accomodatieLocatie.stad)">
    <img src="http://localhost:5050/uploads/{{ accomodatie.accomodatieMedia[0].naam }}"/>
    <div class="overlay"></div>
    <div class="card-title">{{ accomodatie.accomodatieLocatie.stad }}</div>
    <div class="card-subtitle">Klik hier voor meer Accomo's</div>
  </ion-card>
</div>
</ion-content>
