@model ICollection<Accomo.Models.Transactie>
@Html.AntiForgeryToken()
		@if (Model != null && Model.Count() > 0)
		{
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Transactie" asp-action="Index" asp-route-sortParam="@ViewBag.NameSortParam">
                Accomodatie
              </a>
            </th>
            <th class="mdl-data-table__cell-numeric" >
                <a asp-controller="Transactie" asp-action="Index" asp-route-sortParam="@ViewBag.DiscountSortParam">
                Korting
                </a>
            </th>
            <th class="mdl-data-table__cell--numeric">
                <a asp-controller="Transactie" asp-action="Index" asp-route-sortParam="@ViewBag.PayedAmountSortParam">
                Betaald bedrag
                </a>
            </th>
            <th class="mdl-data-table__cell--numeric">
                <a asp-controller="Transactie" asp-action="Index" asp-route-sortParam="@ViewBag.TotalAmountSortParam">
                Te betalen bedrag
                </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                <a asp-controller="Transactie" asp-action="Index" asp-route-sortParam="@ViewBag.TransferSortParam">
                Betaaldatum
                </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">Actie</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var transactie in Model)
          {
            <tr>
            <td class="mdl-data-table__cell--non-numeric">@transactie.Accomodatie.Naam</td>
            <td class="mdl-data-table__cell--numeric">@transactie.Korting.Percentage%</td>
            <td class="mdl-data-table__cell--numeric">@(transactie.BetaaldBedrag != null? @transactie.BetaaldBedrag : 0) @transactie.Valuta.Naam</td>
            <td class="mdl-data-table__cell--numeric">@transactie.TotaalBedrag @transactie.Valuta.Naam</td>
            <td class="mdl-data-table__cell--non-numeric">@transactie.TransferAt</td>
            <td class="mdl-data-table__cell--non-numeric">
                <a asp-controller="Transactie" asp-action="Edit" asp-route-id="@transactie.Id">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>
                </a>
                @if (@transactie.DeletedAt != null)
                {
                    <a asp-controller="Transactie" asp-action="Delete" asp-route-id="@transactie.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="Transactie" asp-action="Delete" asp-route-id="@transactie.Id" asp-route-actionType="4">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="Transactie" asp-action="Delete" asp-route-id="@transactie.Id" asp-route-actionType="3">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
    </table>
		}
		else
    {
        <p>Geen transacties in de database!</p>
    }
</div>