@model Accomo.Models.ViewModels.TransactieViewModel
@{
    ViewBag.Title = "Transactiebeheer";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="ahs-card-holder ahs-card-holder--first">
        <div class="mdl-card mdl-shadow--1dp ahs-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Bewerk een Bed type</h2>
          </div>
          <div class="form-holder">
            <form asp-controller="Transactie" asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="Transactie.Id" type="hidden">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Transactie.TransferAt">
                    <label class="mdl-textfield__label" asp-for="Transactie.TransferAt">Naam</label>
                    <span class="mdl-textfield__error" asp-for="Transactie.TransferAt" ></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Transactie.BetaaldBedrag">
                    <label class="mdl-textfield__label" asp-for="Transactie.BetaaldBedrag">Betaald bedrag</label>
                    <span class="mdl-textfield__error" asp-for="Transactie.BetaaldBedrag"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Transactie.TotaalBedrag">
                    <label class="mdl-textfield__label" asp-for="Transactie.TotaalBedrag">Te betalen bedrag</label>
                    <span class="mdl-textfield__error" asp-for="Transactie.TotaalBedrag"></span>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Opslaan</button>
            </form>
          </div>
        </div>
    </div>
</div>