<ion-header>
    <ion-navbar>
      <ion-title>
        BOEKING
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div>
  <ion-list>
    <form (ngSubmit)="confirm()" #boekingForm="ngForm">

      <ion-item>
        <ion-label>Aantal gasten</ion-label>
        <ion-input type="number" name="aantalGasten" [(ngModel)]="boeking.aantalGasten" required ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Check-in datum</ion-label>
        <ion-datetime type="date" name="checkIn" [(ngModel)]="boeking.checkIn" required displayFormat="DD-MM-YYYY" aria-placeholder="Klik hier"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Check-out datum</ion-label>
        <ion-datetime type="date" name="checkOut" [(ngModel)]="boeking.checkOut" required displayFormat="DD-MM-YYYY" aria-placeholder="Klik hier"></ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-label>Aantal dagen</ion-label>
        <ion-input type="number" name="aantalDagen" [(ngModel)]="aantalDagen" required ></ion-input>
      </ion-item>

      <ion-item hidden>
        <ion-input type="number" name="prijsPerDag" [(ngModel)]="accomodatiePrijs" required ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Totaal bedrag verblijf €</ion-label>
        <ion-input type="number" name="totaalBedrag" [value]="(aantalDagen * accomodatiePrijs) * boeking.aantalGasten" [(ngModel)]="boeking.totaalBedrag" required disabled></ion-input>
      </ion-item>

      <div padding>
        <button outline color="secondary" ion-button block type="submit" [disabled]="!boekingForm.form.valid">Boeking verzoek verzenden</button>
      </div>
    </form>
</ion-list>
</div>
<div class="bottom_margin"></div>
</ion-content>
