@model ICollection<Accomo.Models.Accomodatie>
@Html.AntiForgeryToken()
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

		@if (Model != null && Model.Count() > 0)
		{

      
      <form asp-controller="Accomodatie" asp-action="Index" method="get">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="searchString" id="searchString">
          <label class="mdl-textfield__label" for="searchString">Zoeken...</label>
        </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Zoek</button>
      </form>
      
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Accomodatie" asp-action="Index" asp-route-sortParam="@ViewBag.NameSortParam">
                Naam
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a>
                Beschrijving
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Accomodatie" asp-action="Index" asp-route-sortParam="@ViewBag.LocationSortParam">
                Locatie
              </a>
              </th>
            <th class="mdl-data-table__cell--non-numeric">Actie</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var accomodatie in Model)
          {
            <tr>
            <td class="mdl-data-table__cell--non-numeric">@accomodatie.Naam</td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--break">@accomodatie.Beschrijving</td>
            <td class="mdl-data-table__cell--non-numeric">@accomodatie.AccomodatieLocatie.Stad, @accomodatie.AccomodatieLocatie.Land</td>
            <td>
              
                <a asp-controller="accomodatie" asp-action="Edit" asp-route-id="@accomodatie.Id">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>
                </a>
                @if (User.IsInRole("Administrator") == true || User.IsInRole("Editor") == true)
              { 
               @if (@accomodatie.DeletedAt != null)
                {
                    <a asp-controller="accomodatie" asp-action="Delete" asp-route-id="@accomodatie.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="accomodatie" asp-action="Delete" asp-route-id="@accomodatie.Id" asp-route-actionType="4">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="accomodatie" asp-action="Delete" asp-route-id="@accomodatie.Id" asp-route-actionType="3">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                </a>
              }
                <a asp-controller="Review" asp-action="IndexbyId" asp-route-id="@accomodatie.Id" title="Reviews" name="Reviews">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">star_rate</i>
                </a>
                
              </td>
            </tr>
          }
        </tbody>
    </table>
    
		}
		else
    {
        <p>No locations in the database!</p>
    }
</div>