@using Microsoft.AspNetCore.Identity
@model Accomo.Models.ViewModels.AccomodatieViewModel
@{
    ViewBag.Title = "Accomodatiebeheer";
    ViewBag.SubTitle = "Nieuwe Accomodatie";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/js/backoffice/accomodatie.js"></script>
} 
@if (TempData["Status"] != null) {
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
    <span class="mdl-chip mdl-chip--contact">
        <i class="mdl-chip__contact mdl-color--teal mdl-color-text--white material-icons mdl-color-text--blue-600">info</i>
        <span class="mdl-chip__text">@TempData["Status"]</span>
    </span>
</div>
}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="ahs-card-holder ahs-card-holder--first">
        <div class="mdl-card mdl-shadow--1dp ahs-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Maak een nieuwe accomodatie</h2>
          </div>
          <div class="form-holder">
            <form asp-controller="Accomodatie" asp-action="Create" method="post" asp-antiforgery="true" enctype="multipart/form-data">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Accomodatie.Naam">
                    <label class="mdl-textfield__label" asp-for="Accomodatie.Naam">Naam</label>
                    <span class="mdl-textfield__error" asp-for="Accomodatie.Naam" ></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <textarea class="mdl-textfield__input" rows="10" maxrows="20" asp-for="Accomodatie.Beschrijving"> </textarea>
                    <label class="mdl-textfield__label" asp-for="Accomodatie.Beschrijving">Beschrijving</label>
                    <span class="mdl-textfield__error" asp-for="Accomodatie.Beschrijving"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Accomodatie.MaxAantalGasten">
                    <label class="mdl-textfield__label" asp-for="Accomodatie.MaxAantalGasten">Maximum aantal gasten</label>
                    <span class="mdl-textfield__error" asp-for="Accomodatie.MaxAantalGasten"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Prijs.Prijs">
                    <label class="mdl-textfield__label" asp-for="Prijs.Prijs">Prijs per nacht</label>
                    <span class="mdl-textfield__error" asp-for="Prijs.Prijs"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block mdl-selectfield" >
                        <label class="mdl-textfield__label" asp-for="Prijs.Valuta">Valuta</label>
                        <select asp-for="Prijs.ValutaId" asp-items="Model.Valuta"></select> 
                        <span class="mdl-textfield__error" asp-for="Prijs.Valuta"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <p>Wil je het reeds beschikbaar stellen?</p>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" asp-for="Accomodatie.Beschikbaarheid">
                    <input type="checkbox" class="mdl-checkbox__input" asp-for="Accomodatie.Beschikbaarheid">
                    <span class="mdl-checkbox__label" asp-for="Accomodatie.MaxAantalGasten">Beschikbaarheid</span>
                    </label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Accomodatie.MinLengteVerblijf">
                    <label class="mdl-textfield__label" asp-for="Accomodatie.MinLengteVerblijf">Minimum lengte van het verblijf (in dagen)</label>
                    <span class="mdl-textfield__error" asp-for="Accomodatie.MinLengteVerblijf"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Locatie.Straat">
                    <label class="mdl-textfield__label" asp-for="Locatie.Straat">Straatnaam</label>
                    <span class="mdl-textfield__error" asp-for="Locatie.Straat"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Locatie.HuisNummer">
                    <label class="mdl-textfield__label" asp-for="Locatie.HuisNummer">Huisnummer</label>
                    <span class="mdl-textfield__error" asp-for="Locatie.HuisNummer"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Locatie.KamerNummer">
                    <label class="mdl-textfield__label" asp-for="Locatie.KamerNummer">Nummer van de kamer (optioneel)</label>
                    <span class="mdl-textfield__error" asp-for="Locatie.KamerNummer"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Locatie.Stad">
                    <label class="mdl-textfield__label" asp-for="Locatie.Stad">Stad</label>
                    <span class="mdl-textfield__error" asp-for="Locatie.Stad"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Locatie.PostCode">
                    <label class="mdl-textfield__label" asp-for="Locatie.PostCode">Postcode</label>
                    <span class="mdl-textfield__error" asp-for="Locatie.PostCode"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Locatie.Streek">
                    <label class="mdl-textfield__label" asp-for="Locatie.Streek">Streek (optioneel)</label>
                    <span class="mdl-textfield__error" asp-for="Locatie.Streek"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Locatie.Land">
                    <label class="mdl-textfield__label" asp-for="Locatie.Land">Land</label>
                    <span class="mdl-textfield__error" asp-for="Locatie.Land"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block mdl-selectfield" >
                        <label class="mdl-textfield__label" asp-for="Accomodatie.AccomodatieType">Accomodatie Type</label>
                        <select asp-for="Accomodatie.AccomodatieTypeId" asp-items="Model.AccomodatieTypes"></select> 
                        <span class="mdl-textfield__error" asp-for="Accomodatie.AccomodatieType"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block mdl-selectfield" >
                        <label class="mdl-textfield__label" asp-for="Accomodatie.Categorie">Categorie</label>
                        <select asp-for="Accomodatie.CategorieId" asp-items="Model.Categorieën"></select> 
                        <span class="mdl-textfield__error" asp-for="Accomodatie.Categorie"></span>
                </div>
                <input asp-for="Media.Id" type="hidden">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file mdl-textfield--floating-label ahs-textfield--block " >
                        <input class="mdl-textfield__input" placeholder="Afbeelding toevoegen..." type="text" id="uploadFile" readonly/>
                        <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                            <i class="material-icons">attach_file</i><input type="file" id="uploadBtn" asp-for="Bestand" accept="image/*" >
                        </div>
                </div>

                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Opslaan</button>
            </form>
          </div>
        </div>
    </div>
</div>