@model Accomo.Models.ViewModels.ActionAccomodatieViewModel
@{
    ViewBag.Title = "Accomodatiebeheer";
    ViewBag.SubTitle = @Model.Action;
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
@if (TempData["Status"] != null) {
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
    <span class="mdl-chip mdl-chip--contact">
        <i class="mdl-chip__contact mdl-color--teal mdl-color-text--white material-icons mdl-color-text--blue-600">info</i>
        <span class="mdl-chip__text">@TempData["Status"]</span>
    </span>
</div>
}
<div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@Model.Action een bestaande accomodatie</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Ben je zeker?
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <form asp-controller="Accomodatie" asp-action="Delete" method="post" asp-antiforgery="true">
            <input asp-for="Accomodatie.Id" type="hidden">
            <input asp-for="Accomodatie.Naam" type="hidden">
            <input asp-for="Accomodatie.Beschrijving" type="hidden">
            <input asp-for="Accomodatie.MaxAantalGasten" type="hidden">
            <input asp-for="Accomodatie.Beschikbaarheid" type="hidden">
            <input asp-for="Accomodatie.MinLengteVerblijf" type="hidden">
            <input asp-for="Prijs.Id" type="hidden">
            <input asp-for="Prijs.Prijs" type="hidden">
            <input asp-for="Prijs.Valuta" type="hidden">
            <input asp-for="Locatie.Straat" type="hidden">
            <input asp-for="Locatie.HuisNummer" type="hidden">
            <input asp-for="Locatie.KamerNummer" type="hidden">
            <input asp-for="Locatie.Stad" type="hidden">
            <input asp-for="Locatie.PostCode" type="hidden">
            <input asp-for="Locatie.Streek" type="hidden">
            <input asp-for="Locatie.Land" type="hidden">
            <input asp-for="ActionType" type="hidden">
            <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">@Model.Action</button>
        </form>
    </div>
</div>
