@model Accomo.Models.ViewModels.ActionKortingViewModel
@{
    ViewBag.Title = "Kortingbeheer";
    ViewBag.SubTitle = @Model.Action;
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@Model.Action een bestaande Korting</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Ben je zeker?
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <form asp-controller="Korting" asp-action="Delete" method="post" asp-antiforgery="true">
            <input asp-for="Korting.Id" type="hidden">
            <input asp-for="Korting.Naam" type="hidden">
            <input asp-for="Korting.Beschrijving" type="hidden">
            <input asp-for="Korting.Percentage" type="hidden">
            <input asp-for="ActionType" type="hidden">
            <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">@Model.Action</button>
        </form>
    </div>
</div>
