@model ICollection<Accomo.Models.Korting>
@{
    ViewBag.Title = "Kortingenbeheer";
    ViewBag.SubTitle = "Beheer alle Kortingen vanaf hier.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
    @Html.Partial("_QuickActionsPartial")
</div>
@if (TempData["Status"] != null) {
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
    <span class="mdl-chip mdl-chip--contact">
        <i class="mdl-chip__contact mdl-color--teal mdl-color-text--white material-icons mdl-color-text--blue-600">info</i>
        <span class="mdl-chip__text">@TempData["Status"]</span>
    </span>
</div>
}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
   @Html.Partial("_ListPartial", @Model)
</div>
