@{
    ViewBag.Title = "Dashboard";
    ViewBag.SubTitle = "Overview and statistics";
    ViewBag.Description = "Dashboard overview and statistics";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

@section styles{
        <link rel="stylesheet" href="~/css/dashboard.css" />
}
  <div class="mdl-cell mdl-cell--4-col">
      <p>@await Component.InvokeAsync("AmountForEntity", new { entityType = "Accomodatie"})</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
        <p>@await Component.InvokeAsync("AmountForEntity", new { entityType = "AccomodatieLocatie"})</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
        <p>@await Component.InvokeAsync("AmountForEntity", new { entityType = "Categorie"})</p>
   </div>
   <div class="mdl-cell mdl-cell--4-col">
      <p>@await Component.InvokeAsync("AmountForEntity", new { entityType = "Transactie"})</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
        <p>@await Component.InvokeAsync("AmountForEntity", new { entityType = "User"})</p>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
        <p>@await Component.InvokeAsync("AmountForEntity", new { entityType = "AccomodatieType"})</p>
   </div>
