@model ICollection<Accomo.Models.Security.ApplicationUser>
@Html.AntiForgeryToken()

		@if (Model != null && Model.Count() > 0)
		{
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="User" asp-action="Index" asp-route-sortParam="@ViewBag.UserNameSortParam">
                Gebruikersnaam
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                <a asp-controller="User" asp-action="Index" asp-route-sortParam="@ViewBag.UserNameSortParam">
                Naam
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                Rollen
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                 <a asp-controller="User" asp-action="Index" asp-route-sortParam="@ViewBag.CreatedSortParam">
                  Aangemaakt op
                 </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">Actie</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var user in Model)
          {
            <tr>
            <td class="mdl-data-table__cell--non-numeric">@user.UserName</td>
            <td class="mdl-data-table__cell--non-numeric">@user.LastName @user.FirstName</td>
            <td class="mdl-data-table__cell--non-numeric">
                @foreach(var naam in user.RoleNames){
                  if(naam != null){
                    <span style="margin-right: 5px"> @naam   </span>
                  }
              }
              </td>
            <td class="mdl-data-table__cell--non-numeric">@user.CreatedAt</td>
            <td class="mdl-data-table__cell--non-numeric">
                <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>
                </a>
                @if (@user.DeletedAt != null)
                {
                    <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" asp-route-actionType="4">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" asp-route-actionType="3">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
    </table>
		}
		else
    {
        <p>Geen users in de database!</p>
    }
</div>