<div class="ahs-list-overview">
    <div class=" mdl-color-text--blue-grey-400">
        <h3><i class=" material-icons f-left m-r-5">dvr</i> Overzicht</h3>
        <p>@ViewBag.Description</p>
        <ul class="ahs-list-overview__list">
            <li><a asp-controller="User" asp-action="Index"><i class="material-icons">list</i>Lijst van accounts</a></li>
        </ul>
    </div>
</div>