@model Accomo.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "User Management";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
@if (TempData["Status"] != null) {
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
    <span class="mdl-chip mdl-chip--contact">
        <i class="mdl-chip__contact mdl-color--teal mdl-color-text--white material-icons mdl-color-text--blue-600">info</i>
        <span class="mdl-chip__text">@TempData["Status"]</span>
    </span>
</div>
}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="ahs-card-holder ahs-card-holder--first">
        <div class="mdl-card mdl-shadow--1dp ahs-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Voeg een rol toe aan @Model.ApplicationUser.UserName</h2>
          </div>
          <div class="form-holder">
            <form asp-controller="User" asp-action="AddRoleToUser" method="post" asp-antiforgery="true">
                <input asp-for="ApplicationUser.Id" type="hidden">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block mdl-selectfield" >
                        <label class="mdl-textfield__label" asp-for="@Model.Roles">Rollen</label>
                        <select asp-for="ApplicationRole.Id" asp-items="@Model.Roles"></select> 
                        <span class="mdl-textfield__error" asp-for="@Model.Roles"></span>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Toevoegen</button>
            </form>
          </div>
        </div>
    </div>
</div>