@model Accomo.Models.Security.ApplicationRole
@Html.AntiForgeryToken()

@{
    ViewBag.Title = "User management";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Deze rol verwijderen.</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Ben je zeker?
    </div>
</div>
