@model Accomo.Models.Security.ApplicationUser
@{
    ViewBag.Title = "User management";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
<div class="ahs-list-overview">
    <div class=" mdl-color-text--blue-grey-400">
        <h3><i class=" material-icons f-left m-r-5">dvr</i> Overzicht</h3>
        <p>@ViewBag.Description</p>
        <ul class="ahs-list-overview__list">
            <li><a asp-controller="User" asp-action="Index"><i class="material-icons">list</i>Lijst van accounts</a></li>
            <li><a asp-controller="User" asp-action="AddRoleToUser"  asp-route-id="@Model.Id"><i class="material-icons">add</i>Nieuwe rol toevoegen aan gebruiker</a></li>
        </ul>
    </div>
</div>
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="ahs-card-holder ahs-card-holder--first">
        <div class="mdl-card mdl-shadow--1dp ahs-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Wijzig rollen voor @Model.UserName</h2>
          </div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
              <h5>Rollen:</h5>
               @if (Model.RoleNames.Count == 0) {
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
                    <span class="mdl-chip mdl-chip--contact">
                        <i class="mdl-chip__contact mdl-color--teal mdl-color-text--white material-icons mdl-color-text--blue-600">info</i>
                        <span class="mdl-chip__text">Deze gebruiker heeft geen rollen</span>
                    </span>
                </div>
               }else{
              <ul class="demo-list-control mdl-list">
                   @foreach(var name in Model.RoleNames){
                    <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        @name
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        
                   <a asp-controller="User" asp-action="DeleteRoleFromUser" asp-route-roleName="@name" asp-route-userId="@Model.Id">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                    </a>
                    </span>
                    </li>
                    }
                </ul>
               }
          </div>
        </div>
    </div>
</div>
}