@model ICollection<Accomo.Models.Security.ApplicationUser>
@{
    ViewBag.Title = "Categoriebeheer";
    ViewBag.SubTitle = "Beheer alle categorieën vanaf hier.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<p>You logged out!</p>