@model Accomo.Models.ViewModels.AmountForEntityViewModel
<div class="demo-card-square mdl-card mdl-shadow--2dp mdl-card--@Model.EntityType.ToLower()">
  <div class="mdl-card__title mdl-card--expand">
    <h1 class="mdl-card__amount" data-amount = "@Model.Amount">@Model.Amount</h1>
    <h2 class="mdl-card__title-text">@if(@Model.Amount != 1){@Model.PluralizeName}else{@Model.Name}</h2>
        @switch(Model.EntityType)
                {
                    case "Accomodatie":
                        <i class="material-icons mdl-card__title__icon">domain</i>
                        break;
                    case "AccomodatieLocatie":
                        <i class="material-icons mdl-card__title__icon">beenhere</i>
                        break;
                    case "Transactie":
                        <i class="material-icons mdl-card__title__icon">compare_arrows</i>
                        break;
                    case "AccomodatieReview":
                        <i class="material-icons mdl-card__title__icon">description</i>
                        break;
                    case "AccomodatieType":
                        <i class="material-icons mdl-card__title__icon">style</i>
                        break;
                    case "Categorie":
                        <i class="material-icons mdl-card__title__icon" style="transform: rotate(180deg)">label</i>
                        break;
                    case "User":
                        <i class="material-icons mdl-card__title__icon">account_box</i>
                        break;
                    default:
                        <i class="material-icons mdl-card__title__icon">folder</i>
                        break;
                }
    </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" asp-controller="@Model.EntityType" asp-action="Index">
      Details bekijken
    </a>
  </div>
</div>