<ion-header>
    <ion-navbar>
      <button color="secondary" ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <img height="40" src="../../../assets/img/logo.png" />
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding cache-view="false">
   
  <div *ngFor="let accomodatie of accomodatie">
    <div>
    <h2>{{accomodatie.naam}}</h2>
    <p class="locatie">{{accomodatie.accomodatieLocatie.streek}} - {{accomodatie.accomodatieLocatie.stad}}, {{accomodatie.accomodatieLocatie.land}}</p>
    <p class="prijs">{{accomodatie.accomodatiePrijs.prijs}} {{accomodatie.accomodatiePrijs.valuta}}Euro</p>
    </div>
    <img object-fit:cover src="http://localhost:5050/uploads/{{ accomodatie.accomodatieMedia[0].naam }}"/>
    <div>
      <h3>Omschrijving</h3>
      <div>{{accomodatie.beschrijving}}</div>
      <p>Aantal personen: {{accomodatie.maxAantalGasten}}</p>
      <p>Aantal badkamers: {{accomodatie.badkamerAantal}}</p>
      <p>Minimum verblijf: {{accomodatie.minLengteVerblijf}}</p>
      <hr>
    </div>
    <div>
      <h3>Locatie</h3>
      <p>Postcode: {{accomodatie.accomodatieLocatie.postCode}}</p>
      <p>Straat: {{accomodatie.accomodatieLocatie.straat}}</p>
      <p>Huisnummer: {{accomodatie.accomodatieLocatie.huisNummer}}</p>
      <p>{{accomodatie.accomodatieLocatie.kamerNummer}}</p>
      <hr>
    </div>
    <div>
      <h3>Prijs</h3>
      <p>{{accomodatie.accomodatiePrijs.prijs}} {{accomodatie.accomodatiePrijs.valuta}}Euro</p>
      <p>{{accomodatie.accomodatiePrijs.prijsTypeNaam}}: {{accomodatie.accomodatiePrijs.prijsTypePercentage}}%</p>
      <hr>
    </div>
   <div>
      <h3>Soort woning</h3>
      <p>Type: {{accomodatie.accomodatieType.naam}}</p>
      <p>Categorie: {{accomodatie.categorie.naam}}</p>
      <hr>
    </div>
    <div>
      <h3>Veiligheidsvoorzieningen</h3>
      <p>Niet roken</p>
      <p>Geen feesten of evenementen</p>
      <hr>
    </div>
  </div>
  <h3 class="reviews">Locatie</h3>
  <div #map id="map"></div>  
    <h3 class="reviews">Reviews</h3>
    <ion-list>
      <div *ngFor="let review of reviews">
        <button ion-item block (click)="reviewDetail(review.id)">
        <p>Auteur: {{review.user.firstName}} {{review.user.lastName}}</p>
        <p>Geplaatst op: {{review.createdAt|date: 'dd/MM/yyyy H:mm'}}</p><br>
        <p>{{review.inhoud}}</p><br>
        <p>{{review.beoordeling}} sterren op 5</p>
        <span class="right"><p>Klik voor meer</p></span>
        </button>
      </div>
      <button color="secondary" ion-button block (click)="createBoeking()">Reserveer deze accomo</button>
      <button color="dark" outline ion-button block (click)="createReview()">Schrijf een recensie</button>
    </ion-list>
</ion-content>
