page-accomodatieDetail {
    .card-background-page {

  ion-card {
    
  }

  .card-type ion-icon {
    padding-right: 5px;
  }

  .card-city ion-icon {
    padding-right: 5px;
  }

  .card-title {
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    margin: 1rem;
  }

  .card-subtitle {
    font-family: Lato;
    font-size: 14px;
    padding: 1rem;
    color: #444;
  }

  .card-price {
    margin-left: 1rem;
    padding-top: 4px;
  }

  .card-button {
    float: right;
  }

  }
  .locatie {
    float:left;
  }

  .prijs {
    float:right;
  }

  h2 {
    margin-top: 4rem;
  }

  h3 {
    color: #c0392b;
  }

  .reviews {
    color: #f39c12;
  }

  img {
    padding-left: -16px !important;
    padding-right: -16px !important;
    margin-bottom: 2rem;
  }

  .item-md {
    padding-left: 0;
  }

  .scroll {
    height: 100%;
  }

  #map {
    width: 100%;
    height: 200px;
  }
}
