page-boeking-detail {
    .name {
        color: #777;
    }
  
    .data {
    color: #f39c12;
    font-size: 20px;
    font-weight: 600;
    }

    .user-details {
        background-color: #ddd;
    }
}
