<ion-header>
    <ion-navbar>
      <button color="secondary" ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          Details boeking
      </ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)="openMenu()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="no-scroll" padding>
  <ion-list *ngFor="let boeking of boeking">
    
    <div>
      <ion-row>
      <p>Verzoek geplaatst op <span class="data">{{ boeking.createdAt|date:'dd/MM/yyyy H:mm' }}</span></p>
      </ion-row>
      <ion-row>
      <p>Verblijf van <span class="data">{{ boeking.checkIn|date:'dd/MM/yyyy' }}</span> tot <span class="data">{{ boeking.checkOut|date:'dd/MM/yyyy' }}</span></p>
      </ion-row>
      <ion-row>
      <p>Voor <span class="data">{{ boeking.aantalGasten }}</span> gasten</p>
      </ion-row>
    </div>
    <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <p class="name">Naam</p>
        <p class="data">{{ boeking.user.firstName }} {{ boeking.user.lastName }}</p>
    </ion-item>

    <ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        <p class="name">Gebruikersnaam</p>
        <p class="data">{{ boeking.user.userName }}</p>
    </ion-item>

    <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        <p class="name">Email</p>
        <p class="data">{{ boeking.user.email }}</p>
    </ion-item>

    <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <p class="name">Geboortedatum</p>
        <p class="data">{{ boeking.user.dayOfBirth|date:'dd/MM/yyyy' }}</p>
    </ion-item>
    <a color="secondary" ion-button block href="mailto:{{boeking.user.email}}?Subject=Een%20antwoord%20op%20jouw%20Accomo%20boeking" target="_top">Contacteer deze persoon</a>
  </ion-list>

</ion-content>