// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
    font-family: 'Lato';

    ::-webkit-scrollbar{ display:none; }
}

h1 {
    font-family: Timeburner;
    font-size: 36px;
}

h2 {
    font-family: Timeburner;
    font-size: 28px;
}

h3 {
    font-family: Lato;
    font-size: 21px;
}

h4 {
    font-family: Lato;
    font-size: 18px;
}

p, h1, h2, h3, h4 {
    color: #444;
}

.top_margin {
    height: 56px;
}

.bottom_margin {
    height: 78px;
}

.scroll-bar-indicator
{
	display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}