<ion-menu [content]="content">

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Accomo</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-content>
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
                
        <ion-list>
            <div *ngIf="userName != null">
            <ion-item *ngFor="let user of user">
                <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                <p>{{ user.userName }}</p>
                <button color="danger" ion-button clear item-right (click)="userPage()">Profiel bekijken</button>
            </ion-item>
            </div>
            <button ion-item *ngFor="let menuItem of menuItems" (click)="menuItemSelected(menuItem)">
                {{ menuItem.title }}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-col offset-10 width-80>
      <div id="footer_menu">
        <p>© Copyright Arteveldehogeschool | Simen De Troch & Andries Meyers</p>
     </div>
    </ion-col>
  </ion-toolbar>
</ion-footer> -->