@model ICollection<Accomo.Models.AccomodatieLocatie>
@Html.AntiForgeryToken()
		@if (Model != null && Model.Count() > 0)
		{
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="AccomodatieLocatie" asp-action="Index" asp-route-sortParam="@ViewBag.AdressSortParam">
                Adres
              </a>
            </th>
            <th class="mdl-data-table__cell--numeric">
                Kamer n°
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="AccomodatieLocatie" asp-action="Index" asp-route-sortParam="@ViewBag.LocationSortParam">
                Locatie
              </a>
              </th>
            <th class="mdl-data-table__cell--non-numeric">Actie</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var locatie in Model)
          {
            <tr>
            <td class="mdl-data-table__cell--non-numeric">@locatie.Straat @locatie.HuisNummer</td>
            
            <td class="mdl-data-table__cell--numeric">@(locatie.KamerNummer != null? @locatie.KamerNummer : "NVT") </td>
            <td class="mdl-data-table__cell--non-numeric">@locatie.Stad, @locatie.Land</td>
            <td class="mdl-data-table__cell--non-numeric">
                <a asp-controller="AccomodatieLocatie" asp-action="Edit" asp-route-id="@locatie.Id">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>
                </a>
                @if (@locatie.DeletedAt != null)
                {
                    <a asp-controller="AccomodatieLocatie" asp-action="Delete" asp-route-id="@locatie.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="AccomodatieLocatie" asp-action="Delete" asp-route-id="@locatie.Id" asp-route-actionType="4">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="AccomodatieLocatie" asp-action="Delete" asp-route-id="@locatie.Id" asp-route-actionType="3">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
    </table>
		}
		else
    {
        <p>No locations in the database!</p>
    }
</div>