@model Accomo.Models.ViewModels.AccomodatieLocatieViewModel
@{
    ViewBag.Title = "Locatiebeheer";
    ViewBag.SubTitle = "Bewerk een specifieke locatie";
    ViewBag.Description = "Bewerk hier een bestaande locatie, of keer terug naar het overzicht van locaties.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="ahs-card-holder ahs-card-holder--first">
        <div class="mdl-card mdl-shadow--1dp ahs-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Bewerk een locatie</h2>
          </div>
          <div class="form-holder">
            <form asp-controller="AccomodatieLocatie" asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="AccomodatieLocatie.Id" type="hidden">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="AccomodatieLocatie.Straat">
                    <label class="mdl-textfield__label" asp-for="AccomodatieLocatie.Straat">Straat</label>
                    <span class="mdl-textfield__error" asp-for="AccomodatieLocatie.Straat" ></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="AccomodatieLocatie.HuisNummer">
                    <label class="mdl-textfield__label" asp-for="AccomodatieLocatie.HuisNummer">HuisNummer</label>
                    <span class="mdl-textfield__error" asp-for="AccomodatieLocatie.HuisNummer"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="AccomodatieLocatie.KamerNummer">
                    <label class="mdl-textfield__label" asp-for="AccomodatieLocatie.KamerNummer">KamerNummer (optioneel)</label>
                    <span class="mdl-textfield__error" asp-for="AccomodatieLocatie.KamerNummer"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-inputfield--inline">
                    <input class="mdl-textfield__input" asp-for="AccomodatieLocatie.Stad">
                    <label class="mdl-textfield__label" asp-for="AccomodatieLocatie.Stad">Stad</label>
                    <span class="mdl-textfield__error" asp-for="AccomodatieLocatie.Stad"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-inputfield--inline">
                    <input class="mdl-textfield__input" asp-for="AccomodatieLocatie.PostCode">
                    <label class="mdl-textfield__label" asp-for="AccomodatieLocatie.PostCode">Postcode</label>
                    <span class="mdl-textfield__error" asp-for="AccomodatieLocatie.PostCode"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="AccomodatieLocatie.Land">
                    <label class="mdl-textfield__label" asp-for="AccomodatieLocatie.Land">Land</label>
                    <span class="mdl-textfield__error" asp-for="AccomodatieLocatie.Land"></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="AccomodatieLocatie.Streek">
                    <label class="mdl-textfield__label" asp-for="AccomodatieLocatie.Streek">Streek (optioneel)</label>
                    <span class="mdl-textfield__error" asp-for="AccomodatieLocatie.Streek"></span>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Opslaan</button>
            </form>
          </div>
        </div>
    </div>
</div>