
@font-face{
    font-family: Time Burner Bold;
    src: url(fonts/timeburnerbold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: TimeBurner;
    src: url(fonts/timeburnernormal.ttf);
    font-weight: normal;
}

.ahs-list-overview {
  font-size: 14px;
  line-height: 11.5px;
}
.ahs-list-overview h3 {
  color:rgba(68,68,68,1);
  font-size: 23px;
  line-height: 11.5px;
}
.ahs-list-overview__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ahs-list-overview__list > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0980392);
  transition: all 0.1s;
}
.ahs-list-overview__list > li > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: rgb(5, 132, 148);
  transition: all 0.2s;
}
.ahs-list-overview__list > li > a:hover {
  padding-left: 10px;
}
.ahs-list-overview__list > li > a > i {
  font-size: 11px;
  margin-right: 5px;
}
@media (max-width: 839px) {
  .ahs-card-holder {
      margin-top: 0px;
  }
}
.ahs-card {
    width: auto;
    z-index: auto;
    border-radius: 3px;
    overflow: visible;
}
.ahs-table {
  display: table;
  width: 100%;
}

.ahs-textfield--block {
  display: block;
  width: 100%;
}



.form-holder {
  padding: 20px;
}
*[data-is-softdelete="true"] i {
  opacity: 0.4;
}

/*
** Sidebar
*/

.ahs-sidebar::-webkit-scrollbar{
  display: none;
}

.ahs-sidebar{
  background-color: #ededed;
}
  .ahs-sidebar__header{
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #436794 !important;
  }
    .ahs-sidebar__header__user{
      margin-right: 10px;
      display: inline-block;
      background-size: cover;
      width: 50px;
      height: 50px;
    }

    .ahs-sidebar__navigation{
      padding-top: 0 !important;
    }

      .ahs-sidebar__navigation_list__item{
        width: 100%;
        margin:0 ;
      }

          .ahs-sidebar__navigation_list__item a{
            color: inherit;
            font-size: inherit;
            text-decoration: inherit;
            font-weight: inherit;
            line-height: inherit;
            margin: inherit;
          }

      
          .ahs-sidebar__navigation_list__item__active{
            background-color: #A9C2E1;
          }

          .mdl-list__item-primary-content .list__item__title{
            width: 100%;
            padding-top: 5px;
          }

      .ahs-sidebar__navigation_list__item .list__item__title{
        top: -5px;
      }
      .mdl-list .navigation__toggle__item{
        display: block;
      }
      .ahs-sidebar__navigation__submenu{
        margin-top: 1rem !important;
        background-color: lightgrey;
        list-style-type: none;
        display: none;
        border-radius: 5px;
      }

.logoutbtn{
          border: none;
          background-color: inherit;
          font-family: inherit;
          padding: 0;
}
      
      
.mdl-list__item-primary-content a  .list__item__title{
    position: relative;
    top: -5px;
}      
.mdl-list__item-primary-content .arrow_drop_down{
    float: right;
}


.demo-avatar-dropdown{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.ahs-sidebar__navigation ul {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.ahs-sidebar .ahs-sidebar__navigation .mdl-navigation__link {
  font-size: 13px;
  padding: 10px 14px;
}

.ahs-sidebar .ahs-sidebar__navigation .mdl-navigation__link:hover {
  background: #A9C2E1;
  border-radius: 5px;
}

.ahs-sidebar .ahs-sidebar__navigation .mdl-navigation__link i{
  margin-right: 7px;
}

.navigation__section-header {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 14px;
}


/*
** Header
*/
  
.ahs-header, .ahs-header__row{
  min-height: 50px;
  height: 50px !important;
  background-color: #fff;
}

  .ahs-header__row{
    padding-left: 20px !important;
    padding-top: 5px;
  }

  .ahs-header__row__title{
    font-family: TimeBurner;
    color: #436794;
    font-size: 24px;
  }

/*
** Main-Header
*/
.ahs-main-header {
  font-family: 'Lato', sans-serif !important;
  padding-left: 20px;
  background-color: #436794 !important;
}
.ahs-main-header > h3 {
  font-size: 30px;
  padding-top: 20px;
  margin: 0;
  font-weight: 200;
}
.ahs-main-header > h4 {
  font-size: 18px;
  padding-bottom: 20px;
  margin: 0;
  font-weight: 200;
}
/*
** Body
*/
.mdl-data-table{
    min-width: 98%;
    max-width: 98%;
    margin: 10px;
}

    .mdl-data-table thead th a{
        color: rgba(0,0,0,.54);
        font-weight: 700;
        text-decoration: none !important;
    }

    .mdl-data-table .mdl-data-table__cell--break{
      word-wrap: break-word; 
      white-space: normal;
    }
    .mdl-data-table .mdl-data-table__cell--non-numeric{
      text-align: left !important;
    }

/*****
****** TEMPDATA
*****/ 

    .mdl-chip i{
      background-color: #436794 !important;
      line-height: 33px;
    }
/*****
****** Form 
*****/

/* Style Select Field */
.mdl-selectfield select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: rgba(0,0,0, 0.26);
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.mdl-selectfield select:focus {
  outline: none;
}

/* Hide label */
.mdl-selectfield label {
  display: none;
}

/* Use custom arrow */
.mdl-selectfield select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
}
.mdl-selectfield:after {
  position: absolute;
  top: 2em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}

  /* File upload */ 
  

.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
  right: 0;
}

/* Image Card */
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background:  center / cover;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}


@media screen and (max-width: 1024px) {

  .mdl-layout__drawer-button{
    margin: 0px !important;
    height: 50px;
    color: white !important;
    background-color: #436794 !important;
  }
  .ahs-header__row{
    padding-left: 60px !important;
  }
}
@media screen and (max-width: 510px) {
   #search-button{
     visibility: hidden;
   }
}