.demo-card-square.mdl-card {
  width: 100%;
  height: 200px;
}
.demo-card-square > .mdl-card__title {
  color: #436794;
  background: #A9C2E1;
}

  .demo-card-square .mdl-card__title__icon{
      position: absolute;
      font-size: 150px;
      right: -50px;
      top: -20px;
  }

  .demo-card-square .mdl-card__amount{
      position: absolute;
      top: -20px;
      font-size: 80px;
  }

  .logoutbtn{
          border: none;
          background-color: inherit;
          font-family: inherit;
          padding: 0;
}