@model ICollection<Accomo.Models.Boeking>
@Html.AntiForgeryToken()
		@if (Model != null && Model.Count() > 0)
		{
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.AccomodatieSortParam">
                Accomodatie
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.CheckInSortParam">
                Check-In
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.CheckOutSortParam">
                Check-Out
              </a>
            </th>
            <th class="mdl-data-table__cell--numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.GuestSortParam">
                Aantal Gasten
              </a>
            </th>
            <th class="mdl-data-table__cell--numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.PrijsPerDagSortParam">
                Prijs per dag
              </a>
            </th>
            <th class="mdl-data-table__cell--numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.PrijsPerVerblijfSortParam">
                Prijs per verblijf
              </a>
            </th>
            <th class="mdl-data-table__cell--numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.TotalSortParam">
                Totaalbedrag
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.UserSortParam">
                Gast
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Boeking" asp-action="Index" asp-route-sortParam="@ViewBag.CreatedAtSortParam">
                Gereserveerd op
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">Actie</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var boeking in Model)
          {
            <tr>
            <td class="mdl-data-table__cell--non-numeric">@boeking.Accomodatie.Naam</td>
            <td class="mdl-data-table__cell--non-numeric">@boeking.CheckIn</td>
            <td class="mdl-data-table__cell--non-numeric">@boeking.CheckOut</td>
            <td class="mdl-data-table__cell--numeric">@boeking.AantalGasten</td>
            <td class="mdl-data-table__cell--numeric">@boeking.PrijsPerDag</td>
            <td class="mdl-data-table__cell--numeric">@boeking.PrijsPerVerblijf</td>
            <td class="mdl-data-table__cell--numeric">@boeking.TotaalBedrag</td>
            <td class="mdl-data-table__cell--non-numeric">@boeking.User.FirstName @boeking.User.LastName</td>
            <td class="mdl-data-table__cell--non-numeric">@boeking.CreatedAt</td>
            <td class="mdl-data-table__cell--non-numeric">
                <a asp-controller="Boeking" asp-action="Edit" asp-route-id="@boeking.Id">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>
                </a>
                @if (@boeking.DeletedAt != null)
                {
                    <a asp-controller="Boeking" asp-action="Delete" asp-route-id="@boeking.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="Boeking" asp-action="Delete" asp-route-id="@boeking.Id" asp-route-actionType="4">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="Boeking" asp-action="Delete" asp-route-id="@boeking.Id" asp-route-actionType="3">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
    </table>
		}
		else
    {
        <p>Geen Boekingen in de database!</p>
    }
</div>