@model Accomo.Models.ViewModels.BoekingViewModel
@{
    ViewBag.Title = "Boeking beheer";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="ahs-card-holder ahs-card-holder--first">
        <div class="mdl-card mdl-shadow--1dp ahs-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Bewerk een boeking</h2>
          </div>
          <div class="form-holder">
            <form asp-controller="Boeking" asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="Boeking.Id" type="hidden">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Boeking.CheckIn">
                    <label class="mdl-textfield__label" asp-for="Boeking.CheckIn">Check-In Datum</label>
                    <span class="mdl-textfield__error" asp-for="Boeking.CheckIn" ></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Boeking.CheckOut">
                    <label class="mdl-textfield__label" asp-for="Boeking.CheckOut">Check-Out Datum</label>
                    <span class="mdl-textfield__error" asp-for="Boeking.CheckOut" ></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Boeking.AantalGasten">
                    <label class="mdl-textfield__label" asp-for="Boeking.AantalGasten">Aantal Gasten</label>
                    <span class="mdl-textfield__error" asp-for="Boeking.AantalGasten" ></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="Boeking.TotaalBedrag">
                    <label class="mdl-textfield__label" asp-for="Boeking.TotaalBedrag">Totaalbedrag</label>
                    <span class="mdl-textfield__error" asp-for="Boeking.TotaalBedrag" ></span>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Opslaan</button>
            </form>
          </div>
        </div>
    </div>
</div>