<ion-header>
    <ion-navbar>
      <button color="secondary" ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <img height="40" src="../../../assets/img/logo.png" />
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content has-header padding>
  <div>
  <h2>Aanmelden</h2>
  
  <ion-list>
<form (ngSubmit)="login()" #loginForm="ngForm">
  <ion-item>
    <ion-icon name="user" item-right></ion-icon>
    <ion-input type="text" name="UserName" [(ngModel)]="loginCredentials.UserName" required placeholder="Gebruikersnaam"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock" item-right></ion-icon>
    <ion-input type="password" name="password" [(ngModel)]="loginCredentials.password" required placeholder="Wachtwoord"></ion-input>
  </ion-item>
  <button ion-button block type="submit" [disabled]="!loginForm.form.valid">Aanmelden</button>
</form>
</ion-list>
<p><span (click)="pushRegister()">Registreren</span></p>
</div>
</ion-content>
