<ion-header>
    <ion-navbar>
      <button color="secondary" ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Profiel
      </ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)="openMenu()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="filter">
      <ion-segment-button value="profiel">
        Profiel
      </ion-segment-button>
      <ion-segment-button value="boeking">
        Boekingen
      </ion-segment-button>
      <ion-segment-button value="accomo">
        Jouw Accomo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class="no-scroll" padding>
    <div [ngSwitch]="filter">
  
      <div *ngSwitchCase="'profiel'">
        <ion-list *ngFor="let user of user">
          <ion-item>
              <ion-icon name="person" item-start></ion-icon>
              <p class="name">Naam</p>
              <p class="data">{{ user.firstName }} {{ user.lastName }}</p>
          </ion-item>

          <ion-item>
              <ion-icon name="contact" item-start></ion-icon>
              <p class="name">Gebruikersnaam</p>
              <p class="data">{{ user.userName }}</p>
          </ion-item>

          <ion-item>
              <ion-icon name="mail" item-start></ion-icon>
              <p class="name">Email</p>
              <p class="data">{{ user.email }}</p>
          </ion-item>

          <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <p class="name">Geboortedatum</p>
              <p class="data">{{ user.dayOfBirth|date:'dd/MM/yyyy' }}</p>
          </ion-item>
        </ion-list>
      </div>
  
      <ion-list *ngSwitchCase="'boeking'">
        <ion-grid *ngFor="let user of user">
          <h4>Aangevraagde boekingen voor jouw Accomo*</h4>
          <ion-card *ngFor="let boeking of user.boekingen">
            <ion-card-header>
              Verzoek geplaatst op <span class="data-boeking">{{ boeking.createdAt|date:'dd/MM/yyyy H:mm' }}</span>
            </ion-card-header>
            <ion-card-content>
              <p>Verblijf van <span class="data-boeking">{{ boeking.checkIn|date:'dd/MM/yyyy' }}</span> tot <span class="data-boeking">{{ boeking.checkOut|date:'dd/MM/yyyy' }}</span></p>
              <p>Voor <span class="data-boeking">{{ boeking.aantalGasten }}</span> gasten</p>
              <div item-end padding class="card-button">
                  <button ion-button block color="check" (click)="showBoeking(boeking.id)">
                    Bekijk
                  </button>
                </div>
            </ion-card-content>
          </ion-card>
        </ion-grid>
      </ion-list>
  
      <ion-list *ngSwitchCase="'accomo'">
        <div *ngFor="let user of user">
          <div *ngFor="let accomodatie of user.accomodaties">
            <ion-card style="position: relative;">
              <ion-fab right bottom>
                <a target="_blank" href="http://localhost:5050/Backoffice/accomodatie/Edit/{{ accomodatie.id }}">
                  <button ion-fab>
                    <ion-icon name="create"></ion-icon>
                  </button>
                </a>
              </ion-fab>
              <ion-list>
                <ion-item>
                  <p class="name">Naam</p>
                  <p class="data">{{ accomodatie.naam }}</p>
                </ion-item>

                <ion-item>
                  <p class="name">Maximum aantal gasten</p>
                  <p class="data">{{ accomodatie.maxAantalGasten }}</p>
                </ion-item>

                <ion-item>
                  <p class="name">Beschikbaarheid</p>
                  <p class="data">{{ accomodatie.beschikbaarheid }}</p>
                </ion-item>

                <ion-item>
                  <p class="name">Minimum lengte verblijf</p>
                  <p class="data">{{ accomodatie.minLengteVerblijf }}</p>
                </ion-item>
              </ion-list>
            </ion-card>
          </div>
        </div>
      </ion-list>
  
    </div>
  
</ion-content>