page-user {
    .action-sheets-basic-page {
      .ion-md-share {
        color: #ED4248;
      }
      .ion-md-arrow-dropright-circle {
        color: #508AE4;
      }
      .ion-md-heart-outline {
        color: #31D55F;
      }
      .action-sheet-cancel ion-icon,
      .action-sheet-destructive ion-icon {
        color: #757575;
      }
    }

    h4 {
      font-size: 16px;
      color: #444;
    }

    .name {
      color: #777;
    }

    .data {
      color: #f39c12;
      font-size: 20px;
      font-weight: 600;
    }

    .data-boeking {
      color: #f39c12;
    }
}
