<ion-header>
  <ion-navbar>
      <button color="secondary" ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <img height="40" width="auto" src="../../../assets/img/logo.png" />
      </ion-title>
      <ion-buttons end>
      <button href="#" onclick="window.open('http://localhost:5050/Backoffice/Accomodatie/Create')" ion-fab color="royal">
        <ion-icon name="add"></ion-icon>
      </button>
       </ion-buttons>
  </ion-navbar>
    
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="filter">
      <ion-segment-button value="alle">
        Alle
      </ion-segment-button>
      <ion-segment-button value="steden">
        Steden
      </ion-segment-button>
      <ion-segment-button value="categorie">
        Categorie
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content class="no-scroll">
  <div [ngSwitch]="filter">

    <div *ngSwitchCase="'alle'" class="card-background-page">
      <ion-card *ngFor="let accomodatie of accomodaties">
        <img object-fit:cover src="http://localhost:5050/uploads/{{ accomodatie.accomodatieMedia[0].naam }}">
        <ion-card-content>
          <ion-card-title>
            {{accomodatie.naam}}
          </ion-card-title>
          <span item-left>Maximum aantal gasten: {{ accomodatie.maxAantalGasten }}</span>
          <span class="right price" item-end>€ {{accomodatie.accomodatiePrijs.prijs}} / nacht</span>
          <p class="card-type"><ion-icon name="home"></ion-icon>{{accomodatie.accomodatieType.naam}} • {{accomodatie.categorie.naam}}</p>
          <p class="card-city"><ion-icon name="pin"></ion-icon>{{accomodatie.accomodatieLocatie.stad}}</p>
          <p class="card-score"><ion-icon name="star"></ion-icon>{{accomodatie.accomodatieReviews.accomodatieScores}} 3 / 5</p>
          <div item-end padding class="card-button">
            <button ion-button block color="check" (click)="showAccomodatie(accomodatie.id)">
              Bekijk
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-list *ngSwitchCase="'steden'">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let stad of stedenFilter">
          <button ion-item (click)="accomoByCity(stad)">
            {{ stad }}
          </button>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'categorie'">
      <ion-item *ngFor="let accomodatie of accomodaties">
        <h3>{{ accomodatie.categorie.naam }}</h3>
      </ion-item>
    </ion-list>

  </div>

</ion-content>