@model ICollection<Accomo.Models.Security.ApplicationRole>
@Html.AntiForgeryToken()
		@if (Model != null && Model.Count() > 0)
		{
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Role" asp-action="Index" asp-route-sortParam="@ViewBag.NameSortParam">
                Naam
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                Beschrijving
            </th>
            <th class="mdl-data-table__cell--non-numeric">Actie</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var role in Model)
          {
            <tr>
            <td class="mdl-data-table__cell--non-numeric">@role.Name</td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--break">@role.Beschrijving</td>
            <td class="mdl-data-table__cell--non-numeric">
                <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>
                </a>
                @if (@role.DeletedAt != null)
                {
                    <a asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" asp-route-actionType="4">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" asp-route-actionType="3">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
    </table>
		}
		else
    {
        <p>Geen ApplicationRoles in de database!</p>
    }
</div>