@model Accomo.Models.ViewModels.RoleViewModel
@{
    ViewBag.Title = "Role beheer";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
    <div class="ahs-card-holder ahs-card-holder--first">
        <div class="mdl-card mdl-shadow--1dp ahs-card">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Bewerk een Bed type</h2>
          </div>
          <div class="form-holder">
            <form asp-controller="Role" asp-action="Edit" method="post" asp-antiforgery="true">
                <input asp-for="ApplicationRole.Id" type="hidden">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <input class="mdl-textfield__input" asp-for="ApplicationRole.Name">
                    <label class="mdl-textfield__label" asp-for="ApplicationRole.Name">Naam</label>
                    <span class="mdl-textfield__error" asp-for="ApplicationRole.Name" ></span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ahs-textfield--block">
                    <textarea class="mdl-textfield__input" rows="10" maxrows="20" asp-for="ApplicationRole.Beschrijving"> </textarea>
                    <label class="mdl-textfield__label" asp-for="ApplicationRole.Beschrijving">Beschrijving</label>
                    <span class="mdl-textfield__error" asp-for="ApplicationRole.Beschrijving"></span>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Opslaan</button>
            </form>
          </div>
        </div>
    </div>
</div>