<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 ahs-header">
  <div class="mdl-layout__header-row ahs-header__row">
    <span class="mdl-layout-title ahs-header__row__title">Accomo Backoffice</span>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>
