@using Microsoft.AspNetCore.Identity
@using Accomo.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div class="mdl-layout__drawer mdl-color-text--blue-grey-50 ahs-sidebar">
  <header class="mdl-color--blue-grey-800 ahs-sidebar__header">
    <div class="demo-avatar-dropdown">
      <div class="ahs-sidebar__header__user" style="background-image: url('../images/user.png')"> 
      </div>
      <span>@UserManager.GetUserName(User)</span>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                <li class="mdl-menu__item"><button type="submit" class="logoutbtn">Log off</button></li>
        </form>
      </ul>
    </div>
  </header>
  <nav class="mdl-navigation ahs-sidebar__navigation">
    <ul class="demo-list-icon mdl-list">
      <li class="mdl-list__item ahs-sidebar__navigation_list__item mdl-color-text--blue-grey-600 ahs-sidebar__navigation_list__item__active">
          <span class="mdl-list__item-primary-content">
            <a asp-controller="Home" asp-action="Index">
            <i class="material-icons mdl-list__item-icon mdl-color-text--blue-grey-600 ">home</i> 
            <span class="list__item__title">Home</span>
            </a>
          </span>
      </li>
      <li class="mdl-list__item ahs-sidebar__navigation_list__item mdl-color-text--blue-grey-600 navigation__toggle__item">
        <div class="mdl-list__item-primary-content">   
            <i class="material-icons mdl-list__item-icon mdl-color-text--blue-grey-600 ">domain</i> 
            <span class="list__item__title">Accomo</span>
            <i class="material-icons mdl-color-text--blue-grey-800 arrow_drop_down" role="presentation">arrow_drop_down</i>
        </div>
        <ul class="ahs-sidebar__navigation__submenu">
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Accomodatie" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">store_mall_directory</i>Accomodaties</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="AccomodatieLocatie" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">map</i>Locaties</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Categorie" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">label</i>Categorieën</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Review" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">book</i>Reviews</a></li>
        </ul>
      </li>
      <li class="mdl-list__item ahs-sidebar__navigation_list__item mdl-color-text--blue-grey-600 navigation__toggle__item">
        <div class="mdl-list__item-primary-content">   
            <i class="material-icons mdl-list__item-icon mdl-color-text--blue-grey-600 ">compare_arrows</i> 
            <span class="list__item__title">Transacties</span>
            <i class="material-icons mdl-color-text--blue-grey-800 arrow_drop_down" role="presentation">arrow_drop_down</i>
        </div>
        <ul class="ahs-sidebar__navigation__submenu">
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Transactie" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">description</i>Transacties</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Korting" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">euro_symbol</i>Kortingen</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Boeking" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">book</i>Boekingen</a></li>
        </ul>
      </li>
      <li class="mdl-list__item ahs-sidebar__navigation_list__item mdl-color-text--blue-grey-600 navigation__toggle__item">
        <div class="mdl-list__item-primary-content">   
            <i class="material-icons mdl-list__item-icon mdl-color-text--blue-grey-600 ">list</i> 
            <span class="list__item__title">Lijsten</span>
            <i class="material-icons mdl-color-text--blue-grey-800 arrow_drop_down" role="presentation">arrow_drop_down</i>
        </div>
        <ul class="ahs-sidebar__navigation__submenu">
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="AccomodatieType" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">book</i>Accomodatietypes</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="BedType" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">description</i>Bedtypes</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="VoorzieningType" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">book</i>Voorzieningen</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Veiligheidsvoorziening" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">book</i>Veiligheidsvoorzieningen</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Huisregel" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">book</i>Huisregels</a></li>
          <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="MediaType" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">perm_media</i>Mediatypes</a></li>
        </ul>
      </li>
      <li class="mdl-list__item ahs-sidebar__navigation_list__item  mdl-color-text--blue-grey-600 navigation__toggle__item">
        <div class="mdl-list__item-primary-content">   
            <i class="material-icons mdl-list__item-icon mdl-color-text--blue-grey-600 ">perm_identity</i> 
            <span class="list__item__title">User</span>
            <i class="material-icons mdl-color-text--blue-grey-800 arrow_drop_down" role="presentation">arrow_drop_down</i>
        </div>
        <ul class="ahs-sidebar__navigation__submenu">
           <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="User" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">account_box</i>Users</a></li>
      <li><a class="mdl-navigation__link mdl-color-text--blue-grey-800" asp-controller="Role" asp-action="Index"><i class="mdl-color-text--blue-grey-800 material-icons" role="presentation">security</i>Roles</a></li>
        </ul>
      </li>
      
    </ul>
  </nav>
</div>