<ion-header>
    <ion-navbar>
      <ion-title>
        REVIEW
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div>
  <ion-list>
    <form (ngSubmit)="confirm()" #reviewForm="ngForm">
      
      <ion-item>
        <ion-input type="text" name="titel" [(ngModel)]="review.titel" required placeholder="Titel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="inhoud" [(ngModel)]="review.inhoud" required placeholder="Jouw bericht"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="number" name="beoordeling" [(ngModel)]="review.beoordeling" required placeholder="Jouw score op 5"></ion-input>
      </ion-item>

      <div padding>
        <button outline color="secondary" ion-button block type="submit" [disabled]="!reviewForm.form.valid">Review plaatsen</button>
      </div>
    </form>
</ion-list>
</div>
<div class="bottom_margin"></div>
</ion-content>
