@model ICollection<Accomo.Models.AccomodatieReview>
@Html.AntiForgeryToken()
		@if (Model != null && Model.Count() > 0)
		{
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Review" asp-action="Index" asp-route-sortParam="@ViewBag.TitleSortParam">
                Titel
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a>
                Inhoud
              </a>
            </th>
            <th class="mdl-data-table__cell--numeric">
              <a asp-controller="Review" asp-action="Index" asp-route-sortParam="@ViewBag.ScoreSortParam">
                Beoordeling
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
              <a asp-controller="Review" asp-action="Index" asp-route-sortParam="@ViewBag.CreatedSortParam">
                Aangemaakt op
              </a>
            </th>
            <th class="mdl-data-table__cell--non-numeric">Actie</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var review in Model)
          {
            <tr>
            <td class="mdl-data-table__cell--non-numeric">@review.Titel</td>
            <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--break">@review.Inhoud</td>
            <td class="mdl-data-table__cell--non-numeric">@review.Beoordeling</td>
            <td class="mdl-data-table__cell--non-numeric">@review.UpdatedAt</td>
            <td>
                <a href="~/Review/Show/@review.Id">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation" name="Show">slideshow</i>
                </a>
                @if (@review.DeletedAt != null)
                {
                    <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" asp-route-actionType="4">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" asp-route-actionType="3">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
    </table>
		}
		else
    {
        <p>No locations in the database!</p>
    }
</div>