page-accomodatie.resultaat {
    .card-background-page {

  ion-card {
    
  }

  .card-type ion-icon, .card-city ion-icon, .card-price ion-icon {
    padding-right: 5px;
  }


  .card-city ion-icon {
    padding-right: 5px;
  }

  .card-title {
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
  }

  .card-subtitle {
    font-family: Lato;
    font-size: 14px;
    padding: 1rem;
    color: #444;
  }

  .price {
    font-weight: 700;
    font-size: 16px;
    color: #777
  }

  .card-button {
    float: right;
    margin-top: -60px;
  }

  p {
    color: #777
  }

}
}
