@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Backoffice/Views/Shared/_Authorization.cshtml";
}

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">   
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mdl-textfield mdl-js-textfield">
        <input asp-for="UserName" class="mdl-textfield__input" type="text" id="username" />
        <label asp-for="UserName" class="mdl-textfield__label" for="username">Username</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <input asp-for="Password" class="mdl-textfield__input" type="password"/>
        <label asp-for="Password" class="mdl-textfield__label">Password</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="RememberMe" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input asp-for="RememberMe" type="checkbox" class="mdl-checkbox__input"/>
            @Html.DisplayNameFor(m => m.RememberMe)
        </label>
    </div>
     <div class="mdl-card__actions mdl-card--border">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" >@ViewBag.Title</button>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
