<ion-header>
    <ion-navbar>
      <button color="secondary" ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <img height="40" src="../../../assets/img/logo.png" />
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2>Registreren</h2>
  <div>
  <ion-list>
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <ion-item>
        <ion-icon name="person" item-right></ion-icon>
        <ion-input type="text" name="UserName" [(ngModel)]="registerCredentials.UserName" required placeholder="Gebruikersnaam"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person" item-right></ion-icon>
        <ion-input type="text" name="firstName" [(ngModel)]="registerCredentials.firstName" required placeholder="Voornaam"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person" item-right></ion-icon>
        <ion-input type="text" name="lastName" [(ngModel)]="registerCredentials.lastName" required placeholder="Familienaam"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" item-right></ion-icon>
        <ion-input type="text" name="email" [(ngModel)]="registerCredentials.email" required placeholder="E-mailadres"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock" item-right></ion-icon>
        <ion-input type="password" name="plainPassword" [(ngModel)]="registerCredentials.plainPassword" required placeholder="Wachtwoord"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button block type="submit" [disabled]="!registerForm.form.valid">Registreren</button>
      </div>
    </form>
</ion-list>
</div>
<div class="bottom_margin"></div>
</ion-content>
